<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Chartjs Charts</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='play.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item navbar">
        <div class="navleft">
          <a href="/">Home</a>
          <a href="/research">Research</a>
          <a href="/play">Play</a>
          <a href="/help">Help</a>
        </div>
      </div>
      <div class="grid-item form-content">
        <form action="get-company">
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company1</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company2</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company3</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company4</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company5</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company6</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company7</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company8</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1"> Company9</label><br />
          <input
            type="checkbox"
            id="company1"
            name="company1"
            value="company1"
          />
          <label for="company1">Company10</label><br />
          <label for="rows">Select Month</label>
          <select name="rowchoice">
            {% for row in rows: %}
            <option value="{{row}}">{{row}}</option>
            {% endfor %}</select
          ><br />
          <label for="rows">Select Day</label>
          <select name="rowchoice">
            {% for row in rows: %}
            <option value="{{row}}">{{row}}</option>
            {% endfor %}</select
          ><br />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="grid-item data-content">
        <div style="height: 50vh; width: 50%">
          <canvas id="myChart"></canvas>
        </div>

        <script>
          const labels = {{ labels | tojson}};

          const data = {
              labels: labels,
              datasets: [{
                  label: 'Netflix Stock Data',
                  backgroundColor: 'rgb(156, 156, 156)',
                  borderColor: 'rgb(0, 255, 0)',
                  data: {{ data | tojson }},
              }]
          };

          const config = {
              type: 'line',
              data: data,
              options: { maintainAspectRatio: false }
          };

          const myChart = new Chart(
              document.getElementById('myChart'),
              config
          );
        </script>
      </div>
    </div>
  </body>
</html>
