<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Home</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='research.css') }}"
    />
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item navbar">
        <div class="navleft">
          <a href="/">Home</a>
          <a href="/research">Research</a>
          <a href="/play">Play</a>
          <a href="/help">Help</a>
        </div>
      </div>
      <div class="grid-item form-content">
        <form action="research">
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company1"
          />
          <label for="company1">Amazon.com, Inc</label><br />
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company2"
          />
          <label for="company1">ACM Research Inc</label><br />
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company3"
          />
          <label for="company1">Comcast Corporation</label><br />
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company4"
          />
          <label for="company1">Meta Platforms Inc</label><br />
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company5"
          />
          <label for="company1">General Electric Co</label><br />
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company6"
          />
          <label for="company1">Alphabet Inc</label><br />
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company7"
          />
          <label for="company1">Marriott International Inc</label><br />
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company8"
          />
          <label for="company1">Microsoft Corp</label><br />
          <input
            type="checkbox"
            id="company1"
            name="research"
            value="company9"
          />
          <label for="research">Netflix Inc</label><br />
          <input
            type="checkbox"
            id="NFLX"
            name="research"
            value="NFLX"
          />
          <label for="NFLX">Wells Fargo & Co</label><br /> 

          <label for="rows">Select Month</label>
          <select name="rowchoice">
            {% for month in months: %}
            <option value="{{month}}">{{month}}</option>
            {% endfor %}</select
          ><br />
          <label for="rows">Select Day</label>
          <select name="rowchoice">
            {% for day in days: %}
            <option value="{{day}}">{{day}}</option>
            {% endfor %}</select
          ><br />
          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="grid-item data-content">
        <table class="data-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Amazon</th>
              <th>ACM Research</th>
              <th>Comcast Corporation</th>
              <th>Meta Platforms</th>
              <th>General Electric Co</th>
              <th>Alphabet Inc</th>
              <th>Marriott International Inc</th>
              <th>Microsoft Corp</th>
              <th>Netflix Inc</th>
              <th>Wells Fargo & Co</th>
            </tr>
          </thead>
          <tbody>
            {% for label in labels: %} {% for value in values: %}
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %} {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
