/* general css */
body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 10%);
  width: 100vw;
  height: 100vh;
}

/* navigational bar */
.navbar {
  grid-column: 1 / span 5;
  grid-row: 0.5;
  background-color: rgb(217, 201, 250);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #ffffff;
  background-color: rgb(128, 161, 191);
  padding: 14px 16px;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
  flex: 1;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
  text-align: center;
  margin-left: 10px;
}

a:hover {
  background: #ffffff;
  color: #008fa1;
}

.navleft {
  flex: 1;
}

li {
  margin: 10px 0;
}
