/* general css */
body {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.4;
  margin: 0px;
  background-color: rgb(217, 201, 250);
}

.main {
  margin-top: 5em;
  text-align: center;
}

div.buttons {
  display: grid;
  grid-gap: 5px;
  margin: 0% 40% 0% 40%;
}

/* navigational bar */
nav {
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  overflow: hidden;
  background-color: #008fa1;
  position: fixed;
  top: 0;
  padding: 5px 5px 5px 5px;
  width: 100%;
}

a {
  color: #ffffff;
  background-color: rgb(128, 161, 191);
  padding: 14px 16px;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
  flex: 1;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
}

div.navleft {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  flex: 1;
}

div.navright {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  flex: 1;
}

a:hover {
  background: #ffffff;
  color: #008fa1;
}

h1, h2 {
  color: white;
}
