/* general css */
body {
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.4;
  margin: 0px;
  background-color: rgb(217, 201, 250);
}

.main {
  margin-top: 5em;
  text-align: center;
}

/* navigation buttons */
div.buttons {
  display: grid;
  grid-gap: 5px;
  margin: 0% 40% 0% 40%;
}

/* buttons in the nav bar */
a {
  color: #ffffff;
  background-color: rgb(128, 161, 191);
  padding: 14px 16px;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: bold;
  flex: 1;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 15px;
}

a:hover {
  background: #ffffff;
  color: #008fa1;
}

/* text  */
h1, h2 {
  color: white;
}

/* introduction text of the site */
p {
  color: white;
  font-size: 20px;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 15px;
}