<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ERROR!</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>ERROR!</h1>
    <ul>
      <li>Navigate that data using routes</li>
      <li>Type /get_help to get help</li>
      <li>To see data for a company type /get_company/[company1,company2]</li>
      <li>
        These are the possible company names: NFLX, GOOG, AMZN, MSFT, FB, GE,
        CMCSA, WFC, MAR, JPM
      </li>
      <li>To see all stocks on a specific data type /get_date/[Year-Month-Day,Year-Month-Day]</li>
      <li>This is the possible data range: 2019-04-01 - 2020-04-01.</li>
    </ul>
  </body>
</html>
