<!DOCTYPE html>
<html style="background-color:rgb(131, 197, 244);font-family: Arial">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Stock Data</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <h1>Welcome to Stock Data!</h1>
    <ul>
      <li>Navigate that data using routes</li>
      <li>
        These are the possible company names: NFLX, GOOG, AMZN, MSFT, FB, GE,
        CMCSA, WFC, MAR, JPM
      </li>
      <li><ul>
        <li>/get_help</li>
        <li>/get_by_company/[company1,company2]</li>
        <li>/get_by_date/[date1,date2]</li>
      </ul></li>

      
    </ul>
  </body>
</html>
