<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Play</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='play.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item navbar">
        <div class="navleft">
          <a href="/">Home</a>
          <a href="/research">Research</a>
          <a href="/play">Play</a>
          <a href="/help">Help</a>
        </div>
      </div>
      <div class="grid-item form-content">
        <form method="post">
          <input type="text" id="AMZN" name="AMZN" value="0" />
          <label for="company2">AMZN</label><br />
  
          <input type="text" id="CMCSA" name="CMCSA" value="0" />
          <label for="company3">CMCSA</label><br />
  
          <input type="text" id="FB" name="FB" value="0" />
          <label for="company4">FB</label><br />
  
          <input type="text" id="GE" name="GE" value="0" />
          <label for="company5">GE</label><br />
  
          <input type="text" id="GOOG" name="GOOG" value="0" />
          <label for="company6">GOOG</label><br />
  
          <input type="text" id="JPM" name="JPM" value="0" />
          <label for="company7">JPM</label><br />
  
          <input type="text" id="MAR" name="MAR" value="0" />
          <label for="company8">MAR</label><br />
  
          <input type="text" id="MSFT" name="MSFT" value="0" />
          <label for="company9">MSFT</label><br />
  
          <input type="text" id="NFLX" name="NFLX" value="0" />
          <label for="company10">NFLX</label><br />
  
          <input type="text" id="WFC" name="WFC" value="0" />
          <label for="company11">WFC</label><br />
  
          <button type="submit">Submit</button>
        </form>
      </div>
      <div class="grid-item data-content">
       
        <h4>Total Money Invested: ${{start}}</h4>
        <h4>Result after a year: ${{end}}</h4>
        <h4>Difference: ${{difference}}</h4>
        
      </div>
    </div>
  </body>
</html>
