<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Play</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='play.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item navbar">
        <div class="navleft">
          <a href="/">Home</a>
          <a href="/research">Research</a>
          <a href="/play">Play</a>
          <a href="/help">Help</a>
        </div>
      </div>
      <div class="grid-item form-content">
        <form action="{{ url_for("play_page")}}" method="post">

        <input type="checkbox" id="NFLX" name="NFLX" value="NFLX" />
        <label for="NFLX">Netflix Inc</label><br />

        <button type="submit">Submit</button>
      </div>
      <div class="grid-item data-content">
        {% if 'NFLX' in form %}
        <div style="height: 70vh; width: 80%">
          <canvas id="graph"></canvas>
        </div>

        <script>
          const labels = {{ labels | tojson}};

          const data = {
              labels: labels,
              datasets: [{
                  label: "Netflix: Historical Stock Data",
                  backgroundColor: 'rgb(220, 220, 220)',
                  borderColor: 'rgb(69, 69, 69)',
                  data: {{ values | tojson }},
              }]
          };

          const config = {
              type: 'line',
              data: data,
              options: { maintainAspectRatio: false }
          };

          const myChart = new Chart(
              document.getElementById('graph'),
              config
          );
        </script>
        {% else -%}
        <h1>Select company to display graph</h1>
        {% endif %}
      </div>
    </div>
  </body>
</html>
