<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Research</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='research.css') }}" />
</head>

<body>
  <div class="grid-container">
    <div class="grid-item navbar">
      <div class="navleft">
        <a href="/">Home</a>
        <a href="/research">Research</a>
        <a href="/play">Play</a>
        <a href="/help">Help</a>
      </div>
    </div>
    <div class="grid-item form-content">
      <form method="post">
        <h2>FORM</h2>
        <p>Select the companies you would like to see stock values for. The, type in a specific date in the tex bow below in the format 2019-04-01, or leave it blank to view stock values for the entire year. </p>
        {% for company in companyList %}
          <input type="checkbox" id="{{company}}" name="{{company}}" value="{{company}}" />
          <label for="{{company}}">{{company}}</label><br />
        {% endfor %}
        <input type="text" id="dates" name="dates"/>
        <label for="dates"></label><br />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="grid-item data-content">
      {% if companyData is defined %}
      <table class="data-table">
        <thead>
          <tr>
            <th>Date</th>
            {% for company in companyData %}
            <th>{{company}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for date in companyData[company] %}
          <tr>
            <td>{{ date}}</td>
            {% for companies in companyData %}
            <td>{{ companyData[companies][date]}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        
      
          
        
        </tbody>
      </table>
      {% else %}
      <h1>Select company to display table</h1>
      {% endif%}
    </div>
  </div>
</body>

</html>
