<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Research</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="{{ url_for('static', filename='research.css') }}" />
</head>

<body>
  <div class="grid-container">
    <div class="grid-item navbar">
      <div class="navleft">
        <a href="/">Home</a>
        <a href="/research">Research</a>
        <a href="/play">Play</a>
        <a href="/help">Help</a>
      </div>
    </div>
    <div class="grid-item form-content">
      <form method="post">
        <input type="checkbox" id="company2" name="company2" value="AMZN" />
        <label for="company2">AMZN</label><br />

        <input type="checkbox" id="company3" name="company3" value="CMCSA" />
        <label for="company3">CMCSA</label><br />

        <input type="checkbox" id="company4" name="company4" value="FB" />
        <label for="company4">FB</label><br />

        <input type="checkbox" id="company5" name="company5" value="GE" />
        <label for="company5">GE</label><br />

        <input type="checkbox" id="company6" name="company6" value="GOOG" />
        <label for="company6">GOOG</label><br />

        <input type="checkbox" id="company7" name="company7" value="JPM" />
        <label for="company7">JPM</label><br />

        <input type="checkbox" id="company8" name="company8" value="MAR" />
        <label for="company8">MAR</label><br />

        <input type="checkbox" id="company9" name="company9" value="MSFT" />
        <label for="company9">MSFT</label><br />

        <input type="checkbox" id="company10" name="company10" value="NFLX" />
        <label for="company10">NFLX</label><br />

        <input type="checkbox" id="company11" name="company11" value="WFC" />
        <label for="company11">WFC</label><br />

        <textarea name="dates" placeholder="write dates here"></textarea>

        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="grid-item data-content">
      {% if companyData is defined %}
      <table class="data-table">
        <thead>
          <tr>
            <th>Date</th>
            {% for company in companyData %}
            <th>{{company}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for date in companyData[company] %}
          <tr>
            <td>{{ date}}</td>
            {% for companies in companyData %}
            <td>{{ companyData[companies][date]}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        
      
          
        
        </tbody>
      </table>
      {% else %}
      <h1>Select company to display table</h1>
      {% endif%}
    </div>
  </div>
</body>

</html>
